html, body {
    box-sizing: border-box;
    margin: 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

#library {
    text-decoration: underline;
}

button {
    text-decoration: none;
    border: none;
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

#bookarea {
    border: 1px solid black;
    height: 80%;
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-around;
}

.book {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 45%;
    border: 3px solid black;
}

.booktitle {
    font-size: 1.4em;
    border: 2px solid black;
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}