html, body {
    box-sizing: border-box;
    margin: 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    font-size: 1.5em;
    text-decoration: underline;
}

#bookarea {
    border: 1px solid black;
    height: 80%;
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: flex-start;
}

.book {
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 45%;
    border: 1px solid black;
}

.booktitle {
    font-size: 1.4em;
}