html, body {
    box-sizing: border-box;
    margin: 0 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A8D0E6;
    color: rgba(252, 252, 252, 0.897);
    font-family: Helvetica, sans-serif;
}

#add {
    height: 40px;
    width: 90px;
}

#wrapper {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#library {
    font-size: 2.5rem;
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
}

.readdel {
    display: flex;
    justify-content: space-between;
}

button {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F8E9A1;
}

button:hover {
    color: white;
}


#bookarea {
    /* border: 1px solid black; */
    height: 80%;
    padding: 70px 0px 15px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* display: flex;
    justify-content: space-around; */
}

.book {
    justify-self: center;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    height: 200px;
    /* border: 1px solid black; */
    background-color: #f76C6C;
    border-radius: 10px;
}

.booktitle {
    font-size: 1.4em;
    /* border: 2px solid black; */
    font-weight: 600;
}

.read {
    display: flex;
    justify-content: space-around;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: #374785;
    width: 300px;
    height: 300px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

#read-modal-flex{
    display: flex;
    flex: 2;
    justify-content: space-evenly;
}

.modal-title, .modal-author, .modal-pages {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modal-add-book {
    flex: 2;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}